*
{font-family:monospace;
background-color: #F2E3D5;}

h1 {text-align: center;
color:#024959;
font-size: 30px;}
.titulo {
    color:#026773;
box-sizing: 50px;
}

footer{text-align: center;
font-size: 20px;
color:#024959
 }

img{width: 260px;}
